<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.chobit.knot.gateway.mapper.AdminAuthorizationMapper">

    <select id="listPermissionCodesByUserId" resultType="java.lang.String">
        select distinct p.permission_code
        from user_roles ur
        inner join roles r on r.id = ur.role_id
        inner join sys_role_permissions rp on rp.role_id = r.id
        inner join sys_permissions p on p.id = rp.permission_id
        where ur.user_id = #{userId}
          and p.status = 'ENABLED'
    </select>

    <select id="getApiPermissionBinding" resultType="org.chobit.knot.gateway.entity.AdminApiPermissionBindingEntity">
        select b.id,
               b.permission_id,
               p.permission_code,
               b.http_method,
               b.path_pattern,
               b.controller_class,
               b.handler_method,
               b.status
        from sys_api_permission_bindings b
        inner join sys_permissions p on p.id = b.permission_id
        where b.http_method = #{httpMethod}
          and b.path_pattern = #{pathPattern}
          and b.status = 'ENABLED'
          and p.status = 'ENABLED'
        limit 1
    </select>

    <select id="listMenusByUserId" resultType="org.chobit.knot.gateway.entity.AdminMenuEntity">
        select distinct m.id,
               m.module_id,
               sm.module_code,
               sm.module_name,
               sm.icon as module_icon,
               sm.sort_order as module_sort_order,
               m.parent_id,
               m.menu_code,
               m.menu_name,
               m.route_path,
               m.component_key,
               m.icon,
               m.sort_order,
               m.status
        from user_roles ur
        inner join sys_role_permissions rp on rp.role_id = ur.role_id
        inner join sys_permissions p on p.id = rp.permission_id
        inner join sys_menus m on m.id = p.menu_id
        inner join sys_modules sm on sm.id = m.module_id
        where ur.user_id = #{userId}
          and p.permission_type = 'PAGE'
          and p.status = 'ENABLED'
          and m.status = 'ENABLED'
          and sm.status = 'ENABLED'
        order by sm.sort_order asc, sm.id asc, m.sort_order asc, m.id asc
    </select>

</mapper>
