<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.chobit.knot.gateway.mapper.AppCredentialMapper">

    <select id="getByAppKey" resultType="org.chobit.knot.gateway.entity.AppCredentialEntity">
        select id, app_id, app_key, app_secret_hash, status
        from app_credentials
        where app_key = #{appKey}
    </select>

</mapper>
