<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.chobit.knot.gateway.mapper.RoutingRuleConsumerMapper">

    <select id="listByRuleCodes" resultType="org.chobit.knot.gateway.entity.RoutingRuleConsumerEntity">
        select rc.id, rc.rule_code, rc.consumer_code,
               c.id as consumer_id, c.name AS consumer_name, c.status
        from kb_routing_rule_consumers rc
        left join kb_routing_consumers c on rc.consumer_code = c.consumer_code
        where rc.rule_code in
        <foreach collection="ruleCodes" item="code" open="(" separator="," close=")">
            #{code}
        </foreach>
        order by rc.rule_code, rc.id
    </select>

    <delete id="deleteByRuleCode">
        delete from kb_routing_rule_consumers where rule_code = #{ruleCode}
    </delete>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into kb_routing_rule_consumers(rule_code, consumer_code)
        values(#{ruleCode}, #{consumerCode})
    </insert>

</mapper>
